html {
  overflow-y: scroll;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.introButton {
  margin: 5%;
  border-radius: 50px;
  font-size: xx-large;
  background-color: aquamarine;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
  color:white;
  text-decoration: none;
}

#buttonIntro {
  margin-left: auto; 
  margin-right: auto;
  width: 100%;
  position:absolute;
  bottom:15px;
}

.btn-green {
  background-color: #03DB7C !important;
  border: #03DB7C !important;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.534) !important;
  margin: 0 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
}

#navbar a {
  color: white !important;
}

.dropdown-menu {
  background-color: black !important;
}

.drop:hover {
  background-color: gray !important;
}

.intro{
  color: white;
  text-align: left !important;
  display: flex;
  align-items: center;
  background-image: url("./_misc/images/new bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 800px;
}

.intro p {
  max-width: 300px;
}

.intro h1 {
  text-shadow: -1px 1px 6px rgba(0,0,0,0.6);
  font-size: 50px;
  font-weight: 700 !important;
}

.intro-other {
  min-height: 500px;
}

.padding-btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.intro-block {
  margin-top: 100px;
}

.intro-block h1 {
  font-size: 40px;
}

#intro-block-first {
  margin: auto;
  max-width: 950px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.intro-block p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  color:#6B6B6B;
}

#pc-use-representation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pc-use-representation img{
  width: 25%;
}

#afterIntro {
  margin-top: 100px;
}

.bg-dif {
  background-color: #F7F7F7;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block img {
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
  height: max-content;
}

.block div {
  text-align: left;
  margin-top: 50px;
  max-width: 700px;
}

.block h1 {
  font-size: 40px;
}

.block p {
  color:#6B6B6B;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.block Button {
  margin-bottom: 60px;
}

#btnAndReview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-review {
  margin-top:auto;
  margin-bottom: auto;
  height: 50px;
}

#block-review {
  padding-top:50px;
  padding-bottom:50px;
}

#block-review > div> Button {
  margin-top:30px;
}

.reviewHome {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.reviewHome p {
  color:#6B6B6B;
}

.reviewHome div h2, div h3 {
  color: black;
}

.reviewHome img {
  max-width: 25%;
  margin-right: 20px;
  border-radius: 10px;
}

.reviewHome div {
  height: 350px;
  max-width: 500px;
  text-align: left;
}

#blockPres {
  margin-top: 75px;
}

#blockPres img {
  border-radius: 20px;
}

#presentationText {
  font-size: 20px;
}

#footer {
  padding-top:20px;
  border-top: 1px solid #E6E6E6;
  margin-top: 20px;
  margin-bottom: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 1200px) and (min-width: 768px)
{
    .block {
      flex-direction: column;
      align-items: center;
    }
    .block img {
      width: 60%;
    }
    .block div {
      text-align: center;
    }
    .block-pc {
      flex-direction: column-reverse;
    }


}

@media all and (max-width: 991px)
{
  .reviewHome img {
    content-visibility: hidden;
  }
}

@media all and (max-width: 767px)
{
  .block {
    flex-direction: column;
    align-items: center;
  }
  .block img {
    width: 100%;
  }
  #pc-use-representation img{
    width: 25%;
  }
  .block div {
    text-align: center;
  }
  .block-pc {
    flex-direction: column-reverse;
  }
}
